@import url("reset.css");
:root {
  --primary-orange: #FC5000;
  --primary-orange-alpha: rgba(233,131,13,0.42);
  --primary-blue: #00879E;
  --primary-blue-alpha: rgba(0,135,158,0.4);
  --secondary-blue: #8cc9d3;
  --navbar-height: 70px;
  --navbar-width: 66.667%;
  --content-width: 62.5%;
}
@media screen and (max-width: 1200px) {
  :root {
    --content-width: 80%;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --content-width: 98%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: screen;
}

.oranged {
  background-color: var(--primary-orange-alpha);
}

.blued {
  background-color: var(--primary-blue-alpha);
}

body {
  font-family: sans-serif;
  font-size: medium;
  letter-spacing: -0.035em;
}

.content {
  width: var(--content-width);
  margin: 0 auto;
}

h1 {
  font-size: xx-large;
  font-weight: normal;
}

p {
  line-height: 1.187;
}

.navbar {
  width: var(--navbar-width);
  height: var(--navbar-height);
  margin: 3.646% auto 0 auto;
  border-bottom: 3px solid var(--primary-orange);
}
.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li {
  color: var(--primary-blue);
}
.navbar ul li a, .navbar ul li a:visited, .navbar ul li a:hover, .navbar ul li a:active {
  color: inherit;
}
.navbar ul li a {
  font-family: sans-serif;
  letter-spacing: 0.075em;
  text-decoration: none;
}
.navbar ul li:nth-of-type(1) {
  margin-top: 8px;
}
.navbar ul li:nth-of-type(1) a {
  color: var(--primary-orange);
}
.navbar .menu-button {
  display: none;
}

@media screen and (max-width: 1200px) {
  :root {
    --navbar-height: 58px;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --navbar-width: 100%;
  }
  nav.navbar {
    display: flex;
    margin: 0 auto;
    border: none;
    justify-content: space-between;
  }
  nav.navbar ul li a {
    display: none;
  }
  nav.navbar .menu-button {
    display: block;
    width: var(--navbar-height);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 32px;
    color: white;
    text-align: center;
    line-height: var(--navbar-height);
  }
  nav.navbar.drop {
    position: relative;
    height: fit-content;
  }
  nav.navbar.drop ul {
    display: block;
    padding-left: 2%;
  }
  nav.navbar.drop ul li a {
    float: none;
    display: block;
    height: var(--navbar-height);
    text-align: left;
    line-height: var(--navbar-height);
  }
  nav.navbar.drop ul li:nth-of-type(1) {
    margin-left: 4px;
  }
}
h1.underlined-header {
  width: 20.834%;
  min-width: 166px;
  margin-bottom: 60px;
  border-bottom: 3px solid black;
}

.image {
  position: relative;
}
.image img {
  height: 100%;
  object-fit: cover;
  align-self: flex-start;
}

.hero {
  margin: 7vw auto 0 auto;
}
.hero .image {
  position: relative;
  aspect-ratio: 1200/484;
  width: 100%;
  height: auto;
}

h1.center-header {
  text-align: center;
}

.center-text {
  text-align: center;
}

.discover {
  display: flex;
  padding: 0 2%;
  margin: 7vw auto 25vw auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8.125%;
}
.discover .image {
  flex-shrink: 0;
  margin-top: 18px;
  align-self: start;
}
.discover .image img {
  max-width: 96vw;
  height: auto;
}
.discover .text {
  width: 38.106%;
  max-width: 600px;
  flex-basis: 100%;
}
.discover .text h1 {
  text-align: center;
  margin-bottom: 65px;
}

footer {
  aspect-ratio: 1920/556;
  max-height: 556px;
  width: 100%;
  background-color: var(--primary-blue);
  color: white;
}
footer .spacer {
  height: 81px;
}
footer .info {
  margin-top: 20px;
  text-align: center;
}
footer .subscribe {
  display: flex;
  width: 650px;
  min-width: 33.855%;
  max-width: 80%;
  margin: 43px auto 0 auto;
}
footer .subscribe input {
  width: 76.93%;
  max-width: 500px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: var(--secondary-blue);
}
footer .subscribe .button {
  width: 23.08%;
  min-width: 90px;
  height: 30px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
footer .subscribe .button:active {
  background-color: lightgray;
}
footer .brands {
  display: flex;
  width: 286px;
  margin: 44px auto 0 auto;
  font-size: 50px;
  justify-content: space-between;
}
footer .brands a {
  color: white;
}
@media screen and (max-width: 640px) {
  footer .subscribe {
    flex-wrap: wrap;
  }
  footer .subscribe input {
    width: 100%;
  }
  footer .subscribe .button {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
