@import url(style.css);

.content {
    width: var(--navbar-width);
}

h1.underlined-header {
    margin-top: 5.209vw;
}

.contact {
    display: flex;
    width: 95.625%;
    margin: 9.89vw 0 23.438vw 0;
    justify-content: space-between;
    
    .image {
        aspect-ratio: 1/1;
        width: 40.85%;
        max-width: 500px;
        height: auto;
        margin-right: 2%;
        align-self: flex-start;
    }

    form {
        display: flex;
        width: 100%;
        min-width: 250px;
        max-width: 500px;
        flex-direction: column;
        align-items: center;
        row-gap: 58px;

        input, textarea {
            width: 100%;
            border-radius: 0;
            border: 2px solid var(--primary-orange-alpha);
            background-color: rgba(201,201,201,.42);

            &:hover {
                border-color: rgba(252,80,0,.6);
            }

            &:focus-visible {
                outline: none;
                border-color: var(--primary-orange);
            }
        }

        .button {
            width: 150px;
            height: 40px;
            border: none;
            background-color: var(--primary-blue);
            color: white;

            &:hover {
                background-color: #007182;
            }

            &:active {
                background-color: #009fb8;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        justify-content: center;
        .image {
            display: none;
        }       
    }
}