@import url(style.css);

.navbar {
    ul {
        li {
            &:nth-of-type(1) {
                margin-top: 0;
                a {
                    color: inherit;
                }
            }
            &:nth-of-type(4) {
                margin-top: 8px;
                a {
                    color: var(--primary-orange);
                }
            }
        }
    }
    @media screen and (max-width: 640px) {
        ul li {
            &:nth-of-type(1) {
                margin-left: 0;
            }
            &:nth-of-type(4) {
                margin-left: 4px;
            }
        }
    }
}

h1.center-header {
    margin: 6.875vw auto 3.75vw;
}

.center-text {
    margin-bottom: 135px;
}

.events-wrapper {
    display: flex;
    margin: 90px auto 75px auto;
    flex-wrap: wrap;
    row-gap: 110px;
    column-gap: 25%;

    .event {
        display: flex;
        width: 397px;
        color: black;
        text-decoration: none;

        &:hover {
            color: blue;
            filter: brightness(0.5);
        }

        .date {
            display:flex;
            width: 100px;
            height: 100px;
            border: 1px solid #707070;
            background-color: var(--primary-orange);
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
        }
        .description {
            margin-left: 38px;
        }
    }
}
