@import url(style.css);

.navbar {
    ul {
        li {
            &:nth-of-type(1) {
                margin-top: 0;
                a {
                    color: inherit;
                }
            }
            &:nth-of-type(3) {
                margin-top: 8px;
                a {
                    color: var(--primary-orange);
                }
            }
        }
    }
}

.gallery {
    aspect-ratio: 1157/591;
    height: auto;
    margin-bottom: 450px;
}

.flex-grid {
    display: flex;
    height: 100%;
    align-items: center;

    .col {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        padding-right: 5%;

        &:last-of-type {
            padding-right: 0;
        }
    }

    .portrait {
        width: auto;
        height: 100%
    }

    .portrait-1 {
        aspect-ratio: 361/591;
    }

    .portrait-2 {
        aspect-ratio: 354/591;
    }
    
    .landscape {
        flex: 1;
        flex-grow: 0;
    }

    .landscape-1 {
        aspect-ratio: 386/260;
    }
    .landscape-2 {
        aspect-ratio: 373/287;
    }
}